.doc {
background: #fff;
padding: 10px 15px;
border-bottom: 1px solid #c8c7cc;
border-top: 1px solid #c8c7cc;
color: #000;
}

.doc pre {
background-color: #f8f8f8;
border: 1px solid #ccc;
padding: 1em 2em 1em 2em;
margin: 1em;
}